@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

@*
    Little  blirbs about myself.    
*@

<p>A Graduate from Capitol Technology University.</p>
<p>Video Game enthusiast in both development and play.</p>
<p>Preferred programming languages: C#, C, C++.</p>
<p>I'm an artist in my part-time.</p>