@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

@*
   Added my contact information.     
*@

<address>
    903 Michele Ct<br />
    Hyattsville, MD 20785<br />
    <abbr title="Phone">P:</abbr>
    240.485.4703
</address>

<address>
    <strong>Email:</strong> <a href="mailto:kingmarcus123@gmail.com">kingmarcus123@example.com</a><br />
    <strong>Github:</strong> <a href="https://github.com/Neodabara">GitHub</a>
    <strong>Linkedin:</strong> <a href="https://www.linkedin.com/in/marcus-brock-07b867104/">Linkedin</a>
</address>
